.cs-root {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.cs-avatar {
}

.cs-avatar-holder {
	margin: 1rem;
	border: 0.5rem solid;
	border-radius: 2rem;
	background-color: var(--surface-300);
	border-color: var(--primary-600);
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
