.cs-root {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.cs-avatar {
}

.cs-root {
	display: flex;
	align-content: stretch;
}

.cs-button-collection {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	max-width: 15rem;
	align-items: stretch;
	gap: 0.5rem;
}

.justify-stretch {
	align-self: stretch;
}

.justify-start {
	margin-right: auto;
}

.justify-end {
	margin-left: auto;
}

.cs-avatar-holder {
	margin: 1rem;
	border: 0.5rem solid;
	border-radius: 2rem;
	background-color: var(--surface-300);
	border-color: var(--primary-600);
	width: 20rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
