.downtime-header {
	flex-flow: row wrap;
	display: flex;
}

.downtime-header-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 50%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.downtime-header-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-self: center;
}

.new-downtime-entry-root {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
}

.new-downtime-label-set {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new-downtime-per-day-entry {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.dt-input-width > input {
	max-width: 4rem;
}

.dt-charts {
	padding-top: 2rem;
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
}
