.App {
  text-align: left;
  display: grid;
  grid-auto-columns: 10% 40% 40% 10%;
  grid-auto-rows: 20px content 20px;
  gap: 20px 2em;
}

.AppHeader {
  grid-column: span 4;
}

.CenterLeft {
  grid-column: 2;
}

.CenterRight {
  grid-column: 3;
}
