.crafting-template {
  max-width: 300px;
  padding: 10px;
}

#template-output {
  border: 5px;
  border-color: black;
  text-align: left;
  align-content: left;
}

.template-label {
  text-align: left;
  font-weight: bold;
}

.template-value {
  text-align: right;
}

.box {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 25px 2em;
  padding-top: 15px;
  padding: 20px;
}

.box :first-child {
  align-self: center;
}
