.crafting-template {
  max-width: 300px;
  padding: 10px;
}

#template-output {
  border: 5px;
  border-color: black;
  text-align: left;
  align-content: left;
}

.template-label {
  text-align: left;
  font-weight: bold;
}

.template-value {
  text-align: right;
}

.ct-box {
  width: 90%;
  display: flex;
  flex: 1 1 calc(100% / 6);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 2em;
  padding-top: 15px;
}

.ct-input {
  max-width: 10rem;
}

.ct-input > input {
  max-width: 10rem;
}

/* special case people-count because it has buttons on the side */
.ct-input-people-count > input {
  max-width: 4rem;
}

.ct-label-set {
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
