@use "primereact/resources/themes/lara-light-indigo/theme";

.logo {
  height: 100%;
  line-height: 65px;
}

a.logo:link {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: xx-large;
}

a.logo:visited {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: xx-large;
}

a.logo:hover {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: xx-large;
}

a.logo:active {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: xx-large;
}

button.avatar {
  border: 0;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.navbar {
  height: 85px;
  width: 100%;
  background-color: var(--primary-600);
  color: white;
  border: 10px;
  border-color: black;
}

.navbar-divider {
  height: 2px;
  background-color: black;
}

.navbar-left {
  padding: 10px;
  align-content: left;
  float: left;
  height: 100%;
  width: 50%;
  text-align: left;
}

.navbar-right {
  padding: 10px;
  align-content: left;
  float: left;
  height: 100%;
  width: 50%;
  text-align: right;
}
