.ge_box {
	width: 100%;
	display: flex;
	gap: 10px;
}

.ge_input > input {
	max-width: 8rem;
	height: 3rem;
	align-content: center;
}

.ge_set {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.ge_label {
	text-align: center;
}
