.cc-left-top {
	padding: 1.5rem;
	text-align: center;
}

.cc-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 75% 25%;
}

.cc-left-bottom {
	padding-top: 1rem;
	grid-column: 1;
	grid-row: 2;
	text-align: center;
}

.cc-right-bottom {
	grid-column: 3;
	grid-row: 2;
	text-align: center;
	display: grid;
	margin-top: auto;
	justify-content: flex-end;
	align-content: bottom;
}
