.ge-box {
	width: 100%;
	display: flex;
	gap: 10px;
}

.ge-input > input {
	max-width: 8rem;
	height: 3rem;
	align-content: center;
}

.ge-set {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.ge-label {
	text-align: center;
}
