.downtime_header {
	flex-flow: row wrap;
	display: flex;
	padding-bottom: 1rem;
}

.downtime_header_right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 50%;
}

.downtime_header_left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50%;
	align-items: center;
	gap: 1rem;
	align-self: center;
}

.new_downtime_entry_root {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
}

.new_downtime_label_set {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new_downtime_per_day_entry {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	padding-right: 8rem;
}

.dt_input_width > input {
	max-width: 4rem;
}

.dt_charts {
	padding-top: 2rem;
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
}

.new_dt_bottom_right {
	display: flex;
	flex-flow: row-reverse wrap;
	width: 100%;
	margin-top: auto;
	align-items: flex-end;
}
