.character_log {
	grid-column: 2 span 2;
	width: 100%;
}

.log_header {
	display: flex;
	width: 100%;
	gap: 2rem;
	justify-content: space-between;
}

.log_header_right {
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
	display: flex;
	grid-column: 3;
	float: right;
	text-align: right;
	gap: 1rem;
}

.log_header_left {
	align-items: flex-start;
	text-align: left;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 1rem;
}

.new_entry {
	width: 90%;
	padding-top: 20px;
	height: 90%;
	gap: 25px 2em;
}

.le_gold_entry {
}
